{% extends "index.html" %} 
{% block head %} 
{{ super() }}
    <link rel="stylesheet"  href="{{ url_for('static', filename='mypage1.css') }}">
{% endblock head %} 

{% block section %}
<main class="mypage">
  <section class="profile-card">
    <!-- 프로필 헤더 -->
    <div class="profile-header">
      <div class="avatar">
          <img src="{{ url_for('static', filename='icons/profile.svg') }}" alt="프로필 아이콘" />
      </div>
      <div class="profile-info">
        <h2 class="username">{{ user.nickname }}</h2>
        <p class="univ">{{ user.univ }}</p>
      </div>
      <button class="edit-btn" title="프로필 수정">
        <a href="{{ url_for('mypage_edit') }}">
          <img src="{{ url_for('static', filename='icons/edit.svg') }}" alt="프로필 수정 아이콘" />
        </a>
      </button>
    </div>

    <!-- 소개글 -->
    <div class="profile-intro">
      <div class="intro-label">소개글</div>
      <div class="intro-content">
        <p>{{ user.intro or '' }}</p>
      </div>
    </div>    
  
    <div class="profile-info-card">
      <!-- 이메일 -->
      <div class="profile-contact">
        <img src="{{ url_for('static', filename='icons/email.svg') }}" alt="이메일 아이콘" />
        <p class="email">{{ user.email }}</p>
      </div>

      <!-- 버튼 목록 -->
      <div class="profile-actions">
        <button class="action-btn"  onclick="location.href='{{ url_for('mypage_buy') }}'">
          <img src="{{ url_for('static', filename='icons/purchase_his.svg') }}" alt="구매 내역 아이콘" />
          구매 내역
        </button>
        <button class="action-btn" onclick="location.href='{{ url_for('mypage_sell') }}'">
          <img src="{{ url_for('static', filename='icons/sales_his.png') }}" alt="판매 내역 아이콘" />
          판매 내역
        </button>
        <button class="action-btn" onclick="location.href='{{ url_for('mypage_like') }}'">
          <img src="{{ url_for('static', filename='icons/heart.svg') }}" alt="찜 아이콘" />
          찜 목록
        </button>
        <button
          type="button" 
          class="action-btn"
          onclick="location.href='{{ url_for('mypage_review') }}'"
        >
          <img src="{{ url_for('static', filename='icons/review.svg') }}" alt="주문 내역 아이콘" />
          작성한 리뷰
        </button>
      </div>
    </div>
  </section>
</main>
{% endblock section %}