{% extends "index.html" %} 
{% block head %} 
{{ super() }}
  <link rel="stylesheet"  href="{{ url_for('static', filename='mypage2.css') }}">
{% endblock head %} 

{% block section %}

<main class="mypage-review-container">
  <h2 class="user-name1"><span class="user-name2"> {{ user_name }} </span> 님이 작성한 리뷰</h2>

    <div class="review-list">

      {% if total > 0 %}
        <!-- 카드 1 -->
        {% for review_id, review in row1 %}
        <div class="review-card">
            <div class="review-image">
              <!-- <img src="" alt=""> -->
            </div>
            <div class="review-content">
              <div class="review-header">
                <div class="review-title-wrap">
                  <div class="review-title-row">
                    <span class="review-title">{{ review.title }}</span>
                    {% set star = review.rate|int if review.rate is not none else 0 %}
                      <div class="review-stars">
                        {{ '★' * star }}{{ '☆' * (5 - star) }}
                      </div>
                  </div>
                </div>
                <div class="review-product">
                  <span class="label">상품 :</span>
                  <span class="name">{{ review_id }}</span>
                </div>
              </div>

              <p class="review-text"> {{ review.review }} </p>
              <div class="btns">
                <button class="correct-btn">삭제</button>
                <button class="delete-btn" onclick="location.href='{{ url_for('mypage_review_edit') }}'">수정</button>
              </div>          
            </div>  
        </div>
        {% endfor %}

      {% endif %}
    
    <!-- 페이지네이션 -->
    <nav class="pagination">

        <!-- 이전 페이지 버튼 -->
        {% if page > 0 %}
        <a class="page-btn" href="{{ url_for('mypage_review', page=page-1) }}">&lsaquo;</a>
        {% else %}
        <span class="page-btn" style="opacity:0.4; pointer-events:none;">&lsaquo;</span>
        {% endif %}

        <!-- 페이지 번호 반복 -->
        {% for i in range(page_count) %}
        <a class="page-number {% if i == page %}active{% endif %}" 
            href="{{ url_for('mypage_review', page=i) }}">
            {{ i + 1 }}
        </a>
        {% endfor %}

        <!-- 다음 페이지 버튼 -->
        {% if page < page_count - 1 %}
        <a class="page-btn" href="{{ url_for('mypage_review', page=page+1) }}">&rsaquo;</a>
        {% else %}
        <span class="page-btn" style="opacity:0.4; pointer-events:none;">&rsaquo;</span>
        {% endif %}

    </nav>

  </main>


{% endblock section %}
