/* 공통 색상 */
:root {
  
  --dark-green: #21452d;
  --mint-green: #b9dbc8;
  --soft-ivory: #fbfaf4;
  --white: #ffffff;
  --warm-beige: #f1dab0;
}

:root {
  --page-bg: #fbfaf4; /* var(--soft-ivory)와 동일*/
}

body {
  background: var(--page-bg);
}

/* 공통 폰트 */
@font-face {
  font-family: "Pretendard";
  src: url("/static/fonts/Pretendard-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SUIT";
  src: url("/static/fonts/SUIT-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Righteous";
  src: url("/static/fonts/Righteous-Regular.ttf") format("truetype");
}

/* -------------------------- 좋아요 ------------------------- */
#heart {
color: grey;
font-size: 50px;
}
#heart.red {
color: red;
}


/* -------------------------- 헤더 ------------------------- */
.navbar {
  width: 100%;
  height: 65px;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 48px;
  background-color: var(--soft-ivory, #fafaf5);
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* ---------------------- 로고 ---------------------- */
.navbar_logo a {
  text-decoration: none;
  color: #000;
  font-family: "Righteous";
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0.5px;
  top: -20px;
}

/* ---------------------- 메뉴 ---------------------- */
.navbar_menu {
  list-style: none;
  display: flex;
  gap: 70px;
  margin: 0;
  padding: 0;
}

.navbar_menu li a {
  text-decoration: none;
  color: #111;
  font-family: SUIT;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  transition: color 0.2s ease;
}

.navbar_menu li a:hover {
  color: var(--dark-green); 
}

/* ---------------------- 로그인/로그아웃 아이콘 ---------------------- */
.navbar_login_icon img,
.navbar_logout_icon img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.15s ease;
}

.navbar_login_icon img:hover,
.navbar_logout_icon img:hover {
  transform: scale(1.15);
}

.navbar_hi {
  text-decoration: none;
  font-family: "Pretendard";
  display: inline-block; 
  transform: translateY(-0.5rem);
  margin-right: 0.5rem;
}

section {
  display: block;
  margin: 30px auto 0;
  padding: 0 20px;
  font-family: Pretendard;
}