/* 공통 색상 */
:root {
  
  --dark-green: #21452d;
  --mint-green: #b9dbc8;
  --soft-ivory: #fbfaf4;
  --white: #ffffff;
  --warm-beige: #f1dab0;
}

:root {
  --page-bg: #fbfaf4; /* var(--soft-ivory)와 동일*/
}

body {
  background: var(--page-bg);
}

/* 공통 폰트 */
@font-face {
  font-family: "Pretendard";
  src: url("/static/fonts/Pretendard-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SUIT";
  src: url("/static/fonts/SUIT-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Righteous";
  src: url("/static/fonts/Righteous-Regular.ttf") format("truetype");
}


/* -------------------------- 헤더 ------------------------- */
.header {
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  justify-content: center;
}

/* 네비게이션 */
.header-nav {
  width:1336px;
  height:55px;
  margin:0 auto;
  display:flex;
  align-items:center;    
  justify-content:space-between;
  padding: 0;   
  gap:100px;            
  box-sizing:border-box;
}

/* 로고 */
.header-logo {
  width:141px;        
  height:55px;     
  flex-shrink:0;    
  display:flex;         
  align-items:center;
  justify-content:center;
  font-family:"Righteous", system-ui, sans-serif;
  font-size:40px;
  font-weight:300;
  line-height:60px;   
  color:#000;
  text-align:center;
  text-decoration:none;
}

/* 네비게이션 메뉴 */
.header-nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px; 
  list-style: none;
  padding: 0;
  margin: 0;
  transform: translateY(5px);
}

:where(.header .header-nav-menu) > li > a {
  text-decoration: none;
  color: inherit;
}

.header .header-nav-menu > li > a.nav-style{
  color: #000;
  font-family: "SUIT";
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

/* 오른쪽 버튼 */
.header-icon-btn {
  width: 48px;
  height: 48px;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  transition: transform 0.2s ease;
}