:root {
  /* 공통 색상 */
  --dark-green: #21452d;
  --mint-green: #b9dbc8;
  --soft-ivory: #fbfaf4;
  --white: #ffffff;
  --warm-beige: #f1dab0;
}

/* 공통 폰트 */
@font-face {
  font-family: "Pretendard";
  src: url("/static/fonts/Pretendard-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SUIT";
  src: url("/static/fonts/SUIT-Bold.ttf") format("truetype");
}

/********** week7 실습, 추후 수정 필요**********/
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;

  background: var(--dark-green);
  color: var(--mint-green);
}

.navbar_logo {
  margin-right: auto;
}

.navbar_logo a {
  color: var(--white);
  text-decoration: none;
  font-family: SUIT;
  font-weight: 700;
  font-size: 28px;
}

.navbar_menu {
  display: flex;
  gap: 28px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar_menu a {
  color: var(--white);
  text-decoration: none;
  font-family: SUIT;
  font-weight: 600;
  font-size: 18px;
}

section {
  display: block;
  margin: 30px auto 0;
  padding: 0 20px;
  font-family: Pretendard;
}