<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet"  href="{{ url_for('static', filename='style.css') }}">
  {% block head %} {% endblock head %}
</head>

  <body>
    <nav class="navbar">
      <div class="navbar_logo">
        <a href="">CoRise</a>
      </div>
      <ul class="navbar_menu">
        <li><a href="/list">전체 상품</a></li>
        <li><a href="/reg_items">상품 등록</a></li>
        <li><a href="/reg_reviews">리뷰 등록</a></li>
        <li><a href="/mypage">마이페이지</a></li>
      </ul>

      <div>
        {% if session['id'] %}
        <a href="/logout" class="navbar_logout_icon">
          <img src="{{ url_for('static', filename='icons/logout.svg') }}" alt="로그아웃 아이콘" />
        </a>
        {% else %}
        <a href="/login" class="navbar_login_icon">
          <img src="{{ url_for('static', filename='icons/login.svg') }}" alt="로그인 아이콘" />
        </a>
        {% endif %}
      </div>
    </nav>
    <section>
        {% block section %}

        {% endblock section %}
    </section>
  </body>
</html>
