<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet"  href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  {% block head %} {% endblock head %}
</head>

  <body>
    <nav class="navbar">
      <div class="navbar_logo">
        <a href="">CoRise</a>
      </div>
      <ul class="navbar_menu">
        <li><a href="{{ url_for('view_list') }}">전체 상품</a></li>
        <li><a href="{{ url_for('reg_item') }}">상품 등록</a></li>
        <li><a href="{{ url_for('view_review') }}">전체 리뷰</a></li>
        <li><a href="{{ url_for('mypage') }}">마이페이지</a></li>
      </ul>

      <div>
        {% if session['id'] %}
        <a class="navbar_hi">{{session['id']}}님 반갑습니다!</a>
        <a href="{{ url_for('logout_user') }}" class="navbar_logout_icon">
          <img src="{{ url_for('static', filename='icons/logout.svg') }}" alt="로그아웃 아이콘" />
        </a>
        {% else %}
        <a href="{{ url_for('login') }}" class="navbar_login_icon">
          <img src="{{ url_for('static', filename='icons/login.svg') }}" alt="로그인 아이콘" />
        </a>
        {% endif %}
      </div>
    </nav>
    <section>
        {% block section %}

        {% endblock section %}
    </section>
  </body>
</html>
