{% extends "index.html" %} {% block head %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='review_style.css') }}"
/>
{% endblock head %} {% block section %}
<div class="rvdetail-container">
  <div class="rvdetail-page">
    <div class="rvdetail-left">
      <div class="rvdetail-user-row">
        <div class="rvdetail-avatar"></div>
        <div class="rvdetail-user-name">{{ nickname if nickname else '작성자' }}</div> 
      </div>
      <div class="rvdetail-product-name">상품: {{ name }}</div>
        <div class="rvdetail-stars">
        {% set rating = (data.rate or data.rating or 0) | int %}
        {% for i in range(rating) %}
          <span class="star star--filled">★</span>
        {% endfor %}
        {% for i in range(5 - rating) %}
          <span class="star star--empty">☆</span>
        {% endfor %}
        </div>
      <div class="rvdetail-title">{{ data.title }}</div> <p class="rvdetail-text">
        {{ data.review }} </p>
    </div>

    {% set raw_imgs = data.img_path or [] %}
    {% if raw_imgs is string %}
      {% set imgs = [raw_imgs] %}
    {% elif raw_imgs is sequence %}
      {% set imgs = raw_imgs %}
    {% else %}
      {% set imgs = [] %}
    {% endif %}

    <div class="rvdetail-right">
      <div class="rvdetail-img">
          {% if imgs %}
            <img
              id="rvHeroImage"
              src="{{ url_for('static', filename='images/' + imgs[0]) }}"
              alt="{{ data.title }}"
              width="350" height="350">
          {% endif %}
      </div>
      <div class="rvdetail-thumb-row">
        {% for img in imgs[:5] %}
          <div class="rvdetail-thumb">
            <img 
              src="{{ url_for('static', filename='images/' + img) }}"
              alt="{{ data.title }} thumbnail {{ loop.index }}"
              class="rvdetail-thumb-img"
              onclick="changeHero(this.src)">
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
function changeHero(imageSrc) {
    const heroImg = document.getElementById("rvHeroImage");
    heroImg.src = imageSrc;
  }
</script>

{% endblock section %}